/* CSS declarations go here */
body {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
}

div {
  border:1px solid #cccccc;
  border-radius:4px;
  padding:5px;
}


div.call {
  background-color: #eeeeee;
  text-align:center;
}

div.config {
  background-color: #ffeeee;
  margin-bottom:5px;
}
